<form action="/main/change/{{video.id}}" method='post'>
    {% csrf_token %}
Video Number:<input type="number" name="video_number" value="{{video.video_number}}"><br>

Title:<input type="text" name="title" value="{{video.title}}"><br>


Playlist:<input type="text" name="playlist" value="{{video.playlist}}"><br>

Description:<br><textarea name="description" ></textarea><br>

Preperation:<input type="text" name="preperation" value="{{video.preperation}}"><br>

Material/s:<input type="text" name="materials" value="{{video.materials}}"><br>

Tags:<br><textarea name="tags" placeholder="Separate tags with commas" ></textarea><br>
<input type="submit" value="Make changes">
</form>

<a href="/main/dashboard">Back to dashboard</a>